################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LearnInc.Common.Web/.vs/LearnInc.Common.Web/v15/Server/sqlite3
/LearnInc.Common.Web/.vs/LearnInc.Common.Web/v15
/LearnInc.Common.Web/LearnInc.Common.Services/bin/Debug/netstandard2.0
/LearnInc.Common.Web/LearnInc.Common.Services/obj/Debug/netstandard2.0
/LearnInc.Common.Web/LearnInc.Common.Services/obj
/.vs/slnx.sqlite
/LearnInc.Common.Web/LearnInc.Common.Web.UnitTests/bin/Debug/netcoreapp2.1
/LearnInc.Common.Web/LearnInc.Common.Web.UnitTests/obj
/LearnInc.Common.Web/Learning.Common.Services.UnitTests/bin/Debug/netcoreapp2.1
/LearnInc.Common.Web/Learning.Common.Services.UnitTests/obj
/LearnInc.Common.Web/LearnInc.Common.Repository/obj
/LearnInc.Common.Web/LearnInc.Common.Repository/bin/Debug/netstandard2.0
