################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LearnInc.Common.Web/.vs/LearnInc.Common.Web/v15/Server/sqlite3
